body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.accordion-button::after {
    content: none;
}
.accordion-item, .tabulka {
    margin-left: 20px;
}
.tabulka {
    width: 25%;
}
.link-banner {
    margin: 20px;
    width: 450px;
}
img {
    object-fit:scale-down;
    height: 250px;
}
.headingCarousel {
    margin: 20px;
}